/* *  HEADER page style**/
nav {
  background-color: aqua;
}

/**Body styling **/
.home {
  body {
    height: 95vh;
  }
}

/** Single product style **/
.card-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
